<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Order Conclusion</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
             table{
                border-color: black;
                border-style: solid;
                text-align: center;
                border-width: 1px;
            }
            td, th{
                border-color: black;
                border-style: solid;
                border-width: 1px;
            }
        </style>
	</head>
	<body>
		<div>
			<h1>
				Olá novamente, <span th:text="${pedido.cliente.nome}"> !
			</h1>
			<p>
				Sua Ordem foi concluída por nossos técnicos. Seus equipamentos já estão prontos para você vir
				buscar na loja!
			</p>
			<table>
	            <table>
			<tr>
				<th>Id do equipamento</th>
				<th>Nome do equipamento</th>
				<th>Avaria do equipamento</th>
				<th>Orçamento individual do equipamento</th>
			</tr>
			<tr th:each="equipamentos: ${pedido.equipamentos}">
					<td th:text="${equipamentos.id}"/>
    				<td th:text="${equipamentos.nome}" />
    				<td th:text="${equipamentos.avaria}" />
    				<td th:text="${equipamentos.orcamento}" />
			</tr> 
			<tr>
				<th colspan="4">Orçamento da ordem</td>
			</tr>
			<tr>
				<td colspan="4"	th:text="${pedido.orcamento}"/>
			</tr>
			<table>
        	</table>
			
		</div>
	</body>
</html>