<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Order Confirmation</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div>
			<h1>
				Olá <span th:text="${pedido.cliente.nome}"> !
			</h1>
			<p>
				Seus equipamentos já foram diagnosticados! Para dar continuadade a ordem de serviço você deve aprovar o item no 
                nosso site. O botão levará você para a página, para que você revise a Ordem e o orçamento. Assim que a ordem for 
                atualizada, nossos técnicos vão começar o conserto dos itens. 
			</p>
			<button><a th:href='@{http://127.0.0.1:5500/index.html#/clienteView/}+${pedido.id}'>ehs</a></button>
		</div>
	</body>
</html>